@font-face {
	font-family: 'Archive';
	src        : url('../font/archive/archive.woff2') format('woff2'), url('../font/archive/archive.woff') format('woff');
	font-weight: 400;
	font-style : normal;
}

@font-face {
	font-family: 'Titillium Web';
	src        : url('../font/titillium/titilliumweb.woff2') format('woff2'), url('../font/titillium/titilliumweb.woff') format('woff');
	font-weight: 400;
	font-style : normal;
}

@font-face {
	font-family: 'Titillium Web';
	src        : url('../font/titillium/titilliumwebbold.woff2') format('woff2'), url('../font/titillium/titilliumwebbold.woff') format('woff');
	font-weight: 700;
	font-style : normal;
}

html {
	font-family   : "Titillium Web", sans-serif;
	font-size     : 1px;
	letter-spacing: 0.5em;
}

body {
	margin  : 0;
	position: relative;
}

ul {
	list-style: none;
	margin    : 0;
	padding   : 0;
}

a {
	text-decoration: none;
}

input[type=checkbox] {
	display: none;
}

.title {
	color         : #2D0027;
	font          : 18rem/18rem "Archive", sans-serif;
	letter-spacing: initial;
	text-align    : center;
}

.navbar {
	display        : flex;
	justify-content: space-between;
}

.navbar_top {
	background-color: #FFF8FE;
	height          : 47rem;
	position        : relative;
}

.navbar__item {
	background-position: 50% 5rem;
	background-repeat  : no-repeat;
	display            : flex;
	flex               : 1 0 auto;
	flex-direction     : column;
	height             : 47rem;
	justify-content    : flex-end;
	max-width          : 77rem;
	text-align         : center;
}

.navbar__item_nav-menu {
	background-image   : url(../img/icon/catalogpurple-icon.svg);
	background-position: 50% 8rem;
}

.navbar__item_feedback {
	background-image: url(../img/icon/phone-icon.svg);
}

.navbar__item_favourites {
	background-image: url(../img/icon/heart-icon.svg);
}

.navbar__item_compare {
	background-image: url(../img/icon/compare-icon.svg);
}

.profile {
	background-image: url(../img/icon/profile-icon.svg);
	max-width       : 77rem;
	position        : relative;
}

.navbar__item_cart {
	background-image: url(../img/icon/basket-icon.svg);
}

.nav-menu__checkbox_mobile,
.profile__checkbox {
	height         : 100%;
	display        : flex;
	align-items    : flex-end;
	justify-content: center;
}

.nav-menu__checkbox_desktop {
	display: none;
}

.phone {
	color          : #2D0027;
	display        : block;
	font           : bold 18rem/27rem "Titillium Web", sans-serif;
	opacity        : 0.5;
	text-align     : center;
	text-decoration: none;
}

.top-menu-bar,
.navbar__item_favourites,
.navbar__item_compare,
.phone_navbar {
	display: none;
}

.navbar__item_nav-menu::after {
	left: 45rem;
}

.navbar__caption {
	color  : #A0148E;
	display: block;
	font   : 9rem/14rem "Titillium Web", sans-serif;
	margin : 4rem 1rem 4rem;
	opacity: 0.6;
}

.navbar__catalog-caption {
	display: none;
}

.catalog-list__sublist {
	display: none;
	width  : 100%;
}

.nav-menu {
	background-color   : white;
	box-sizing         : border-box;
	display            : block;
	left               : 0;
	text-align         : left;
	top                : 47rem;
	padding            : 4rem 0 28rem;
	position           : absolute;
	right              : 0;
	transform          : translateY(-150%);
	transition         : 0.3s ease-out;
	/* width           : calc(100vw - (100vw - 100%)); */
	z-index            : 1;
}

.nav-menu__item {
	border-bottom: 2rem solid #F5F3F5;
	margin-top   : 11rem;
}

.nav-menu__item a,
.profile__item a {
	text-align     : left;
	box-sizing     : border-box;
	color          : #2D0027;
	display        : block;
	font-size      : 12rem;
	min-height     : 40rem;
	line-height    : 38rem;
	margin         : 0 20rem;
	text-decoration: none;
}

.nav-menu__item a {
	border-bottom: 2rem solid #FFF8FE;
}

.nav-menu__item li:last-of-type a {
	border: none;
}

.nav-menu__sidebar {
	display: none;
}

.catalog-list {
	overflow-y: hidden;
}

.catalog-list__item,
.catalog-list__item_sublist {
	box-sizing   : border-box;
	position     : relative;
	/* width     : 100vw; */
}

.catalog-list__item_select,
.catalog-list__item_show-all,
.catalog-list__item_back {
	font-weight: bold;
}

.catalog-list__item_select {
	background-color: rgba(160, 20, 142, .05);
	border-bottom   : rgba(160, 20, 142, .05);
	font-size       : 13rem;
	line-height     : 35rem;
}

.catalog-list__item:first-of-type {
	font-weight: bold;
}

.catalog-list__item_back {
	font-size  : 13rem;
	line-height: 40rem;
}

.catalog-list__sublist {
	background-color: white;
	position        : absolute;
	top             : 0;
	z-index         : 20;
}

.catalog-list__sublist a {
	padding-left: 15rem;
}

.catalog-list__tick,
.catalog-list__tick_back {
	align-items: center;
	display    : flex;
	height     : 100%;
	position   : absolute;
	width      : 30rem;
}

.catalog-list__tick>span,
.catalog-list__tick_back>span {
	border-top  : 1.5rem solid #967c92;
	border-right: 1.5rem solid #967c92;
	display     : block;
	height      : 5rem;
	width       : 5rem;
}

.catalog-list__tick {
	justify-content: flex-start;
	right          : 0;
	top            : 0;
}

.catalog-list__tick_back {
	justify-content: flex-end;
	left           : 0;
	top            : 0;
}

.catalog-list__tick>span {
	transform: rotate(45deg);
}

.catalog-list__tick_back>span {
	transform: rotate(-135deg);
}

.catalog-list__item:first-of-type .catalog-list__tick {
	display: none;
}

/* ! хэдэр кнопки  */

#nav-menu-checkbox:checked~.header .nav-menu {
	transform: translateY(0%);
}

#nav-menu-checkbox:checked~.header .nav-menu__checkbox_desktop {
	background-image: url(../img/icon/cross.svg);
}

#nav-menu-checkbox:checked~.header .navbar__item_nav-menu {
	background-image: url(../img/icon/cross.svg);
}


#nav-menu-checkbox:checked~.header .navbar__item_nav-menu,
#profile-checkbox:checked~.header .profile {
	background-color: white;
	z-index         : 1;
}

#nav-menu-checkbox:checked~.main-content-layer *,
#profile-checkbox:checked~.main-content-layer *,
#location-checkbox:checked~.main-content-layer * {
	z-index: 0;
}

/* наложение цветного слоя на body при клике nav-menu */

.main-content-layer::after {
	content   : "";
	background: #3F0738;
	height    : 100%;
	position  : absolute;
	opacity   : 0.2;
	bottom    : 0;
	left      : 0;
	top       : 0;
	transform : translateY(-100%);
	transition: 0.2s ease-out;
	right     : 0;
}

#nav-menu-checkbox:checked~.main-content-layer::after {
	transform: translateY(0);
}

/* кнопки каталога */

/* кнопки отрытия списков */

#catalog-list-checkbox-guitar:checked~.header .catalog-list-checkbox-guitar {
	display: block;
	top    : -42rem;
}

#catalog-list-checkbox-guitar-classic:checked~.header .catalog-list-checkbox-guitar-classic {
	display: block;
	top    : -120rem;
}

#catalog-list-checkbox-guitar-acoustic-bass:checked~.header .catalog-list-checkbox-guitar-acoustic-bass {
	display: block;
	top    : -200rem;
}

#catalog-list-checkbox-microphone:checked~.header .catalog-list-checkbox-microphone {
	display: block;
	top    : -162rem;
}

#catalog-list-checkbox-accordion:checked~.header .catalog-list-checkbox-accordion {
	display: block;
	top    : -562rem;
}

/* убираем торчащие li */

#catalog-list-checkbox-guitar:checked~.header .catalog-list {
	height: 644rem;
}

#catalog-list-checkbox-guitar-classic:checked~.header .catalog-list {
	height: 520rem;
}

#catalog-list-checkbox-guitar-acoustic-bass:checked~.header .catalog-list {
	height: 520rem;
}

#catalog-list-checkbox-microphone:checked~.header .catalog-list {
	height: 478rem;
}

#catalog-list-checkbox-accordion:checked~.header .catalog-list {
	height: 478rem;
}

/* убираем пункты nav-menu */

#catalog-list-checkbox-guitar:checked~.header .nav-menu__item_open-sublist,
#catalog-list-checkbox-guitar-classic:checked~.header .nav-menu__item_open-sublist,
#catalog-list-checkbox-guitar-acoustic-bass:checked~.header .nav-menu__item_open-sublist,
#catalog-list-checkbox-microphone:checked~.header .nav-menu__item_open-sublist,
#catalog-list-checkbox-accordion:checked~.header .nav-menu__item_open-sublist {
	display: none;
}

.icon-menu .icon-menu__item {
	background-position: left 10rem;
	background-repeat  : no-repeat;
	background-size    : 17rem 20rem;
	font-size          : 13rem;
	font-weight        : bold;
	line-height        : 38rem;
	padding-left       : 26rem;
	text-decoration    : none;
}

.icon-menu__item img {
	margin-right: 12rem;
}

.icon-menu__item_cart {
	background-image: url(../img/icon/basket-icon.svg);
}

.icon-menu__item_profile {
	background-image: url(../img/icon/profile-icon.svg);
}

.icon-menu__item_compare {
	background-image: url(../img/icon/compare-icon.svg);
}

.icon-menu__item_favorite {
	background-image: url(../img/icon/heart-icon.svg);
}

.pick-up-point {
	display: none;
}

.nav-menu__phone {
	margin        : 16rem 0;
	letter-spacing: 0;
}

.socialnet {
	align-items    : center;
	display        : flex;
	justify-content: space-between;
}

.socialnet__item {
	background-position: center center;
	background-repeat  : no-repeat;
	background-size    : contain;
	display            : block;
	height             : 24rem;
	opacity            : 0.15;
	width              : 30rem;
}

.socialnet__item_vk {
	background-image: url(../img/social/vkontakte-icon.svg);
}

.socialnet__item_vk:hover {
	background-image: url(../img/social/vkontakte-icon-color.svg);
	opacity         : 1;
}

.socialnet__item_facebook {
	background-image: url(../img/social/facebook-icon.svg);
}

.socialnet__item_facebook:hover {
	background-image: url(../img/social/facebook-icon-color.svg);
	opacity         : 1;
}

.socialnet__item_instagram {
	background-image: url(../img/social/instagram-icon.svg);
}

.socialnet__item_instagram:hover {
	background-image: url(../img/social/instagram-icon-color.svg);
	opacity         : 1;
}

.socialnet__item_telegram {
	background-image: url(../img/social/telegram-icon.svg);
}

.socialnet__item_telegram:hover {
	background-image: url(../img/social/telegram-icon-color.svg);
	opacity         : 1;
}

.nav-menu__socialnet {
	margin: 0 auto;
	width : 150rem;
}

.profile__list {
	background-color: white;
	border-radius   : 4rem;
	font-weight     : bold;
	padding         : 9rem 0 7rem;
	position        : absolute;
	top             : 47rem;
	transform       : translateY(-200%);
	transition      : 0.15s ease-in;
	right           : -82%;
	width           : 284rem;
	z-index         : 1;
}

.profile__item:not(:last-of-type) {
	border-bottom: 2rem solid #FFF8FE;
}

.profile__item:first-of-type a {
	color: #00C2E0;
}

.profile__item:nth-of-type(2) a {
	color: #0079BF;
}

.profile__item:hover {
	background-color: #FFF8FE;
}

.profile__item a:hover {
	color: #A0148E;
}

/* открытие меню профиля */

#profile-checkbox:checked~.header .profile__list {
	transform: translateY(0%);
}

#profile-checkbox:checked~.main-content-layer::after {
	transform: translateY(0%);
}

#profile-checkbox:checked~.main-content-layer .nav-arrow,
#profile-checkbox:checked~.main-content-layer .nav-dots {
	z-index: 0;
}

.navbar_bottom {
	align-items: center;
	height     : 42rem;
	position   : relative;
}

.logo {
	display    : block;
	height     : 20rem;
	margin-left: 18rem;
	width      : 90rem;
}

.logo img {
	height    : 100%;
	object-fit: contain;
	width     : 100%;
}

.location {
	align-items: center;
	display    : flex;
	height     : 42rem;
	padding    : 0 19rem 0 19rem;
	text-align : right;
}

.location__current-city {
	color   : #A0148E;
	display : block;
	font    : bold 13rem/20rem "Titillium Web", sans-serif;
	padding : 0 18rem 0 10rem;
	position: relative;
}

.location__tick_desktop-view {
	display: none;
}

.location__current-city>span {
	border-right : 1.5px solid #A0148E;
	border-bottom: 1.5px solid #A0148E;
	display      : block;
	height       : 5rem;
	position     : absolute;
	right        : 5rem;
	top          : 6rem;
	transform    : rotate(45deg);
	transition   : 0.4s ease-out;
	width        : 5rem;
}

.location__select-city {
	background-color         : #fff;
	border-top-left-radius   : 4rem;
	border-bottom-left-radius: 4rem;
	left                     : 18rem;
	padding                  : 22rem 20rem 7rem 0;
	position                 : absolute;
	text-align               : left;
	top                      : 40rem;
	transform                : translateY(-200%);
	transition               : 0.15s ease-in;
	right                    : 0;
	z-index                  : 1;
}

.location__pick-up-in-city {
	color      : #2D0027;
	display    : none;
	font-size  : 15rem;
	font-weight: bold;
}

.location__form-search_margin {
	margin: 0 0 15rem 20rem;
}

.city-list {
	height    : 356rem;
	overflow-y: scroll;
}

/* фон первого пункта */
.city-list li:first-child a {
	border-bottom: transparent;
}

.city-list li:first-of-type {
	background-color: rgba(160, 20, 142, .05);
}

::-webkit-scrollbar {
	width: 4rem;
}

::-webkit-scrollbar-track {
	background-color: #FFF8FE;
	margin-bottom   : -47rem;
}

::-webkit-scrollbar-thumb {
	background-image: linear-gradient(#a0148e 50%, transparent 50%);
}

.city-list__item {
	border-bottom: 2px solid #FFF8FE;
	box-sizing   : border-box;
	color        : #2D0027;
	display      : block;
	font-size    : 12rem;
	height       : 40rem;
	line-height  : 35rem;
	margin       : 0 18rem 0 20rem;
}

#location-checkbox:checked~.header .location__select-city {
	transform: translateY(0);
}

#location-checkbox:checked~.main-content-layer::after {
	transform: translateY(0);
}

#location-checkbox:checked~.header>.form-search button {
	display: none;
}

#location-checkbox:checked~.header .location__current-city>span {
	transform: rotate(45deg) translate(2rem, 3rem) scale(-1);
}

#location-checkbox:checked~.header .location {
	background-color      : #fff;
	border-top-left-radius: 4rem;
	z-index               : 1;
}

.form-search {
	background     : #FFF8FE;
	border         : 3rem solid #F9EFF7;
	box-sizing     : border-box;
	border-radius  : 3rem;
	display        : flex;
	justify-content: space-between;
	height         : 40rem;
	position       : relative;
}

.form-search_margin {
	margin: 0 18rem 13rem;
}

.form-search>input,
.form-search>button {
	background: #FFF8FE;
	border    : transparent;
	padding   : 0;
}

.form-search>input {
	padding-left: 18rem;
	width       : 100%;
}

.form-search>input:focus {
	background-color: #fff;
	outline         : 10000rem solid rgba(63, 7, 56, 0.2);
	z-index         : 2;
}

.form-search>input:active {
	background-color: transparent;
}

.form-search>input::placeholder {
	color         : #A0148E;
	font          : 13rem/20rem "Titillium Web", sans-serif;
	line-height   : 34rem;
	letter-spacing: 0.5rem;
	margin-left   : 20rem;
	opacity       : 0.4;
}

/* убираем у input search крестик */
.form-search>input::-webkit-search-cancel-button {
	display: none;
}

.form-search>button {
	background      : url(../img/icon/lens-icon.svg) center no-repeat;
	background-color: transparent;
	height          : 15rem;
	position        : absolute;
	top             : 12rem;
	right           : 10rem;
	width           : 13rem;
}

.nav-arrow {
	align-items     : center;
	background-color: #FFF8FE;
	border          : none;
	display         : flex;
	height          : 28rem;
	justify-content : center;
	outline         : none;
	position        : absolute;
	width           : 28rem;
	z-index         : 1;
}

.nav-arrow_prev:hover,
.nav-arrow_next:hover,
#popular-categories .owl-prev:hover,
#popular-categories .owl-next:hover,
#popular-products .owl-prev:hover,
#popular-products .owl-next:hover,
#types-instrument .owl-prev:hover,
#types-instrument .owl-next:hover {
	background-color: #FFE3FB;
}

.nav-arrow>span {
	border-top : 2.5px solid #A0148E;
	border-left: 2.5px solid #A0148E;
	display    : block;
	height     : 10rem;
	width      : 10rem;
}

.nav-arrow_prev {
	border-top-right-radius   : 2rem;
	border-bottom-right-radius: 2rem;
	left                      : 0;
}

.nav-arrow_prev>span {
	transform: rotate(-45deg);
}

.nav-arrow_next {
	border-top-left-radius   : 2rem;
	border-bottom-left-radius: 2rem;
	right                    : 0;
}

.nav-arrow_next>span {
	transform: rotate(135deg);
}

.nav-arrow_down {
	background-color: transparent;
	bottom          : 0;
}

.nav-arrow_down>span {
	transform: rotate(225deg);
}

.nav-dots {
	display        : flex;
	justify-content: center;
	position       : absolute;
	width          : 100%;
	z-index        : 1;
}

.nav-dots__item {
	border-radius: 50%;
	height       : 5rem;
	margin       : 0 5rem;
	opacity      : 0.5;
	width        : 5rem;
}

.nav-dots__item:hover {
	background: #A0148E;
	opacity   : 0.6;
}

/* ! класс заполнения точки */

.nav-dots__item_select {
	opacity  : 1;
	transform: scale(1.5);
}

.special-offers {
	border-radius: 3px;
	font         : 18rem/19rem "Archive", sans-serif;
	height       : 180rem;
	margin       : 0 18rem 26rem;
	overflow     : hidden;
	position     : relative;
	text-align   : center;
}

.special-offers__item {
	display       : block;
	height        : 100%;
	letter-spacing: 0rem;
	position      : relative;
	width         : 100%;
}

.special-offers__item::before {
	background-image: linear-gradient(180deg, #160013 0%, rgba(22, 0, 19, 0) 88.95%);
	content         : "";
	display         : block;
	height          : 100%;
	opacity         : 0.8;
	pointer-events  : none;
	position        : absolute;
	top             : 0rem;
	width           : 100%;
}

.special-offers__photo {
	width          : 100%;
	height         : 100%;
	object-fit     : cover;
	object-position: right;
}

.special-offers__about {
	color         : #fff;
	top           : 0;
	bottom        : 0;
	left          : 0;
	right         : 0;
	position      : absolute;
	pointer-events: none;
}

.special-offers_title {
	color    : #fff;
	font-size: 13rem;
	margin   : 28rem auto 1rem;
}

.special-offers__price {
	font  : bold 18rem/29rem "Titillium Web", sans-serif;
	margin: 17rem auto 0;
	width : 93rem;
}

.special-offers__price_new {
	background-color: #fff;
	border-radius   : 2px;
	color           : #A0148E;
}

.special-offers__price_old {
	font-size      : 13rem;
	line-height    : 20rem;
	text-decoration: line-through;
}

.special-offers__arrow_prev,
.special-offers__arrow_next {
	top: 76rem;
}

.special-offers__nav-dots {
	bottom: 10rem;
}

.nav-dots__item_color-special-offers {
	background-color: #fff;
}

.popular-categories {
	margin: 18rem 0 20rem;
}

.popular-categories::after {
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
	opacity         : 0.9;
	content         : "";
	display         : block;
	height          : 100%;
	pointer-events  : none;
	position        : absolute;
	right           : 0;
	top             : 0;
	width           : 30%;
}

/* убираем псевдоэлемент при прокрутке карусели до конца */
.popular-categories-invisibleAfter::after {
	content: none;
}

/* добавляем псевдоэлемент слева при начале прокрутке карусели */
.popular-categories-invisibleBefore::before {
	background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
	opacity         : 0.9;
	content         : "";
	display         : block;
	height          : 100%;
	pointer-events  : none;
	position        : absolute;
	left            : -8rem;
	top             : 0;
	width           : 30%;
	z-index         : 1;
}

.first-item-margin-left_popularCategories .owl-item:first-child {
	margin-left: 19rem;
}


.popular-categories__img {
	border-radius  : 3rem;
	background     : center no-repeat;
	background-size: cover;
	height         : 80rem;
}

#popular-categories .owl-stage {
	width: max-content !important;
}

#popular-categories .owl-dot,
#popular-products .owl-dot,
#types-instrument .owl-dot {
	outline: none;
}

#popular-categories .owl-dot>span,
#popular-products .owl-dot>span,
#types-instrument .owl-dot>span {
	background: #A0148E;
	height    : 6rem;
	opacity   : 0.15;
	width     : 6rem;
}

#popular-categories .owl-dot>span:hover,
#popular-products .owl-dot>span:hover,
#types-instrument .owl-dot>span:hover {
	opacity: 0.6;
}

#popular-categories .owl-dot.active>span,
#popular-products .owl-dot.active>span,
#types-instrument .owl-dot.active>span {
	opacity  : 1;
	transform: scale(1.5);
}

#popular-categories .owl-prev,
#popular-categories .owl-next,
#popular-products .owl-prev,
#popular-products .owl-next,
#types-instrument .owl-prev,
#types-instrument .owl-next {
	align-items     : center;
	background-color: #FFF8FE;
	border          : none;
	display         : flex;
	font-size       : 0;
	height          : 28rem;
	justify-content : center;
	outline         : none;
	position        : absolute;
	width           : 28rem;
	z-index         : 1;
}

#popular-categories .owl-prev {
	left: -6rem;
	top : 80rem;
}

#popular-categories .owl-next {
	right: -6rem;
	top  : 80rem;
}

#popular-categories .owl-prev>span,
#popular-categories .owl-next>span,
#popular-products .owl-prev>span,
#popular-products .owl-next>span,
#types-instrument .owl-prev>span,
#types-instrument .owl-next>span {
	border-top : 2.5px solid #A0148E;
	border-left: 2.5px solid #A0148E;
	display    : block;
	height     : 10rem;
	width      : 10rem;

}

#popular-categories .owl-prev>span,
#popular-products .owl-prev>span,
#types-instrument .owl-prev>span {
	transform: translateX(4rem) rotate(-45deg);
}

#popular-categories .owl-next>span,
#popular-products .owl-next>span,
#types-instrument .owl-next>span {
	transform: translateX(-4rem) rotate(135deg)
}

.popular-categories__img_guitar-classic {
	background-image: url(../img/2.png);
}

.popular-categories__img_synthesizers {
	background-image: url(../img/3.png);
}

.popular-categories__img_guitar-electro {
	background-image: url(../img/4.png);
}

.popular-categories__img_amplifier {
	background-image: url(../img/5.png);
}

.popular-categories__subtitle {
	color        : #A0148E;
	font         : bold 13rem/17rem "Titillium Web", sans-serif;
	margin       : 7rem 0;
	overflow-wrap: break-word;
	text-align   : center;
}

.popular-products-wrapper {
	margin-top: 19rem;
	padding   : 0 19rem 37rem;
}

.popular-products {
	font  : bold 13rem/17rem "Titillium Web", sans-serif;
	height: 255rem;
}

#popular-products .owl-prev {
	left: -3rem;
	top : 95rem;
}

#popular-products .owl-next {
	right: -3rem;
	top  : 95rem;
}

.popular-products__item {
	border         : 3px solid #FFF8FE;
	border-radius  : 3px;
	box-sizing     : border-box;
	color          : #2D0027;
	display        : flex;
	flex-direction : column;
	height         : 255rem;
	justify-content: flex-end;
	position       : relative;
	text-align     : center;
}

.popular-products__like,
.popular-products__compare {
	height  : 20rem;
	opacity : 0.3;
	position: absolute;
	padding : 5rem;
	width   : 22rem;
	z-index : 1;
}

.popular-products__like {
	background: url(../img/icon/heart-icon.svg) center no-repeat;
	top       : 4rem;
	right     : 39rem;
}

.popular-products__compare {
	background: url(../img/icon/compare-icon.svg) center no-repeat;
	top       : 5rem;
	right     : 6rem;
}

.popular_products__preview {
	color  : #2D0027;
	display: block;
}

.popular-products__photo {
	height : 116rem;
	padding: 0 7rem 4rem;
}

.popular-products__photo img {
	height    : 100%;
	object-fit: contain;
	width     : 100%;
}

.popular-products__name {
	box-sizing: border-box;
	height    : 56rem;
	overflow  : hidden;
	margin    : 0rem 6rem 9rem;
}

.popular-products__block-get {
	background     : #FFF8FE;
	display        : flex;
	height         : 42rem;
	justify-content: space-between;
}

.popular-products__cost {
	align-items    : center;
	display        : flex;
	flex-direction : column;
	flex-grow      : 1;
	justify-content: space-between;
	padding        : 8rem 0 5rem;
}

.popular-products__price {
	font: bold 15rem/15rem "Titillium Web", sans-serif;
}

.popular-products__price_new {
	color: #A0148E;
}

.popular-products__price_old {
	font-size      : 11rem;
	line-height    : 11rem;
	opacity        : 0.3;
	text-decoration: line-through;
}

.popular-products__button-cart {
	background: url(../img/icon/basket-icon.svg) center center no-repeat;
	height    : 100%;
	width     : 52rem;
}

.types-instrument {
	height       : 80rem;
	margin-bottom: 16rem;
	text-align   : center;
}

#types-instrument .owl-stage {
	width: max-content !important;
}

.types-instrument::after {
	background-image: linear-gradient(90deg, rgba(0, 255, 255, 0) 0%, #FFFFFF 100%);
	content         : "";
	display         : block;
	height          : 100%;
	position        : absolute;
	pointer-events  : none;
	top             : 0;
	right           : 0;
	width           : 30%;
}

/* убираем псевдоэлемент при прокрутке карусели до конца */
.types-instrument-invisibleAfter::after {
	content: none;
}

/* добавляем псевдоэлемент слева при начале прокрутке карусели */
.types-instrument-invisibleBefore::before {
	background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
	opacity         : 0.9;
	content         : "";
	display         : block;
	height          : 100%;
	pointer-events  : none;
	position        : absolute;
	left            : -8rem;
	top             : 0;
	width           : 30%;
	z-index         : 1;
}

.types-instrument__item {
	overflow-wrap: anywhere;
}

.first-item-margin-left_typesInstrument .owl-item:first-child {
	margin-left: 15rem;
}

.types-instrument__type-name {
	align-items        : flex-end;
	background-size    : 33rem 30rem;
	background-position: center 5rem;
	background-repeat  : no-repeat;
	display            : flex;
	height             : 65rem;
	justify-content    : center;
}

.types-instrument__type-name_guitar {
	background-image: url(../img/icon/guitar-icon.png);
}

.types-instrument__type-name_synthesizer {
	background-image     : url(../img/icon/piano-icon.png);
	background-size      : 32rem 25rem;
	background-position-y: 10rem;
}

.types-instrument__type-name_drum {
	background-image: url(../img/icon/drum--icon.png);
	background-size : 26rem 31rem;
}

.types-instrument__type-name_brass {
	background-image: url(../img/icon/sax-icon.png);
}

.types-instrument__type-name_accordion {
	background-image: url(../img/icon/accordion-icon.png);
}

.types-instrument_subtitle {
	color         : #2D0027;
	font-size     : 12rem;
	margin        : 0rem;
	letter-spacing: 0;
}

.types-instrument__sublist {
	display: none;
}

.premium-offers {
	border-radius: 3px;
	font         : 18rem/19rem "Archive", sans-serif;
	height       : 180rem;
	margin       : 0 18rem 29rem;
	overflow     : hidden;
	position     : relative;
	text-align   : center;
}

.premium-offers__item {
	border-radius : 3rem;
	display       : block;
	height        : 100%;
	letter-spacing: 0rem;
	position      : relative;
	width         : 100%;
}

.premium-offers__item::before {
	background-image: linear-gradient(180deg, #160013 0%, rgba(22, 0, 19, 0) 88.95%);
	content         : "";
	display         : block;
	height          : 100%;
	opacity         : 0.8;
	pointer-events  : none;
	position        : absolute;
	top             : 0rem;
	width           : 100%;
}

.premium-offers__photo {
	width          : 100%;
	height         : 100%;
	object-fit     : cover;
	object-position: center;
}

.premium-offers__about {
	color         : #fff;
	top           : 0;
	bottom        : 0;
	left          : 0;
	right         : 0;
	position      : absolute;
	pointer-events: none;
}

.premium-offers__title {
	color    : #fff;
	font-size: 13rem;
	margin   : 35rem auto 3rem;
}

.premium-offers__price {
	background-color: #fff;
	bottom          : 40rem;
	border-radius   : 2px;
	color           : #A0148E;
	font            : bold 18rem/29rem "Titillium Web", sans-serif;
	margin          : 8rem auto 0;
	position        : absolute;
	left            : 0;
	right           : 0;
	width           : 93rem;
}

.premium-offers__arrow_prev,
.premium-offers__arrow_next {
	top: 76rem;
}


.premium-offers__nav-dots {
	bottom: 5rem;
}

.nav-dots__item_color-premium-offers {
	background-color: #fff;
}

.popular-brand {
	display              : grid;
	gap                  : 5VW;
	grid-template-columns: repeat(3, 1fr);
	margin               : 19rem 18rem 37rem;
}

.popular-brand__category-name {
	display: none;
}

.popular-brand__item {
	align-items    : center;
	display        : flex;
	justify-content: center;
	margin         : 0;
}

.popular-brand__item:nth-of-type(18)~.popular-brand__item {
	display: none;
}

.popular-brand__item>img {
	width     : 100%;
	height    : 100%;
	object-fit: scale-down;
}

.footer {
	background: #FFF8FE;
	padding   : 25rem 20rem 13rem;
}

.footer-menu {
	border       : 1rem solid #EFE4ED;
	border-radius: 3rem;
}

.footer-menu__item,
.footer-menu__title,
.footer-menu__item_sublist {
	color  : #2D0027;
	font   : 12rem/26rem "Titillium Web", sans-serif;
	opacity: 0.7;
}

.footer-menu__item {
	border-bottom: 1px solid #EFE4ED;
	box-sizing   : border-box;
	position     : relative;
	padding      : 12rem 19rem 12rem;
}

.footer-menu__title {
	font-size  : 13rem;
	font-weight: bold;
	line-height: 23rem;
}

.footer-menu__item:last-child {
	border-bottom: none;
}

.footer-menu__submenu {
	display: none;
}

.footer-menu__tick {
	align-items    : center;
	display        : flex;
	height         : 20rem;
	justify-content: center;
	position       : absolute;
	top            : 13rem;
	transition     : 0.4s ease-out;
	right          : 12rem;
	width          : 20rem;
}

.footer-menu__tick>span {
	border-right : 1.5px solid #967C92;
	border-bottom: 1.5px solid #967C92;
	display      : block;
	height       : 5rem;
	transform    : rotate(45deg);
	width        : 5rem;
}

#footer-menu-checkbox-buyer:checked~.main-content-layer .footer-menu__submenu_buyer,
#footer-menu-checkbox-partners:checked~.main-content-layer .footer-menu__submenu_partners,
#footer-menu-checkbox-company:checked~.main-content-layer .footer-menu__submenu_company {
	display: block;
}

#footer-menu-checkbox-buyer:checked~.main-content-layer label[for=footer-menu-checkbox-buyer],
#footer-menu-checkbox-partners:checked~.main-content-layer label[for=footer-menu-checkbox-partners],
#footer-menu-checkbox-company:checked~.main-content-layer label[for=footer-menu-checkbox-company] {
	transform: scale(-1);
}

.apps {
	margin      : 19rem 0 11rem;
	text-align  : center;
	word-spacing: 0.6em;
}

.apps__item {
	background-origin: border-box;
	display          : inline-block;
	background       : center no-repeat;
	background-size  : cover;
	height           : 32rem;
	width            : 100rem;
}

.apps__item_g-play {
	background-image: url(../img/g-play.png);
	margin-right    : 11rem;
}

.apps__item_app-store {
	background-image: url(../img/app-store.png);
}

.apps__title {
	display: none;
}

.footer__socialnet {
	margin: 14rem auto 9rem;
	width : 150rem;
}

.copyright {
	font-size     : 11rem;
	letter-spacing: 0.02em;
	line-height   : 33rem;
	text-align    : center;
	opacity       : 0.5;
}

@media (min-width : 480px) and (max-width : 767px) {
	.navbar_bottom {
		height: 50rem;
	}

	.profile__list {
		right: -133%;
	}

	.special-offers {
		height       : 210rem;
		margin-bottom: 30rem;
	}

	.popular-categories {
		margin-top: 30rem;
	}

	.popular-categories__img {
		height: 110rem;
	}

	.popular-products-wrapper {
		margin: 30rem 0 20rem;
	}

	.types-instrument-wrapper {
		margin: 28rem 0 28rem;
	}

	.premium-offers {
		margin-bottom: 30rem;
		height       : 212rem;
	}
}

@media (min-width : 768px) and (max-width : 1023px) {
	html {
		font-size: 1.3px;
	}

	.title {
		margin: 1.5em 0;
	}

	.profile__list {
		right: -100%;
		width: 235rem;
	}

	.popular-categories__img {
		height: 100rem;
	}

	.types-instrument {
		margin-bottom: 40rem;
	}

	.popular-brand {
		gap                  : 0vw;
		grid-template-columns: repeat(4, 1fr);
	}

	.popular-brand__item:nth-of-type(18)~.popular-brand__item {
		display: block;
	}

	.popular-brand__item:nth-of-type(20)~.popular-brand__item {
		display: none;
	}
}

@media only screen and (min-width: 1024px) {

	.title {
		text-align : left;
		font-size  : 30rem;
		line-height: 30rem;
	}

	.header,
	.main {
		max-width: 1212rem;
		margin   : 0 auto;
	}

	.header {
		padding : 0 10rem;
		position: relative;
	}

	.navbar_top,
	.navbar_bottom,
	.navbar__item {
		position: unset;
	}

	.navbar_bottom {
		width: 11.6%;
	}

	.top-menu-bar {
		display        : flex;
		height         : 47rem;
		justify-content: space-between;
	}

	.social-info-bar {
		align-items    : center;
		display        : flex;
		flex-grow      : 1;
		height         : 100%;
		justify-content: flex-end;
	}

	.location {
		padding: 0;
	}

	.location__tick_momobile-view {
		display: none;
	}

	.location__tick_desktop-view {
		align-items: center;
		display    : flex;
		height     : 100%;
		max-width  : 17%;
	}

	.location__tick_desktop-view:hover .location__current-city,
	.location__tick_desktop-view:hover .location__current-city>span {
		border-color: #D866C9;
		color       : #D866C9;
	}

	.location__current-city {
		font-size     : 15rem;
		letter-spacing: 0.05em;
		padding-left  : 0rem;
		padding-right : 35rem;
	}

	.location__current-city>span {
		right: 20rem;
	}

	.location__select-city {
		border-radius         : 3rem;
		border-top-left-radius: 0rem;
		left                  : 0;
		max-width             : 1212rem;
		padding               : 41rem 10rem 0;
		top                   : 46rem;
	}

	.location__pick-up-in-city {
		display: block;
		margin : 0 10rem 30rem 20rem;
	}

	.location__pick-up-in-city a {
		color: #A0148E;
	}

	.location__form-search_margin {
		margin-bottom: 25rem;
	}

	.city-list {
		display           : grid;
		grid-auto-flow    : column;
		grid-template-rows: repeat(auto-fit, 50rem);
		height            : 474rem;
		overflow          : auto;
	}

	.city-list__item {
		border-bottom: none;
		font-size    : 15rem;
	}

	.city-list__item:hover {
		color: #A0148E;
	}

	.city-list li:first-of-type {
		background-color: initial;
	}

	.city-list li:first-of-type a,
	.city-list li:nth-of-type(2) a {
		font-weight: bold;
	}

	#location-checkbox:checked~.header .location__tick_desktop-view {
		background-color       : #fff;
		border-top-left-radius : 3rem;
		border-top-right-radius: 3rem;
		padding-left           : 20rem;
		z-index                : 1;
	}

	/* выровнить .location__tick_desktop-view со спискомгородов */
	#location-checkbox:checked~.header {
		padding-left: 0rem;
	}

	#location-checkbox:checked~.header .info-menu__item_pick-up {
		display: none;
	}

	.info-menu {
		display        : flex;
		flex           : 0 0 auto;
		justify-content: flex-end;
		width          : 78.3%;
	}

	.info-menu li:not(:last-child) {
		padding-right: 4.4%;
	}

	.info-menu__item {
		color      : #2D0027;
		opacity    : 0.3;
		font-size  : 15rem;
		line-height: 15rem;
	}

	.info-menu__item:hover {
		color  : #D866C9;
		opacity: 1;
	}

	.socialnet_topbar-decktop {
		gap        : 9rem;
		margin-left: 5.4%;
		width      : 10.2%;
	}

	.socialnet__item {
		height: 20rem;
	}

	.socialnet__item:hover {
		transform: scale(1.3);
	}

	.navbar-form-search-wrapper {
		align-items    : center;
		display        : flex;
		height         : 58rem;
		justify-content: space-between;
		margin-bottom  : 34rem;
	}

	.navbar_top {
		align-items    : center;
		background     : unset;
		height         : 100%;
		justify-content: space-between;
		order          : 1;
		padding-top    : 7rem;
		width          : 39.6%;
	}

	.navbar__item {
		background-position: 51% 27%;
		box-sizing         : border-box;
		flex-grow          : 0;
		height             : 100%;
	}

	.navbar__item_favourites:hover,
	.navbar__item_compare:hover,
	.profile:hover,
	.navbar__item_cart:hover {
		filter   : saturate(1.6);
		transform: scale(1.1);
	}

	.nav-menu__icon,
	.navbar__item_feedback img,
	.navbar__item_feedback .navbar__caption,
	.nav-menu__checkbox .navbar__caption {
		display: none;
	}

	.phone_navbar {
		display: block;
	}

	.navbar__item_favourites,
	.navbar__item_compare {
		display: flex;
	}

	.nav-menu__checkbox_mobile {
		display: none;
	}

	#nav-menu-checkbox:checked~.header .nav-menu__checkbox_desktop {
		background-color: #FFF8FE;
		z-index         : 1;
	}

	.nav-menu {
		border-radius: 3rem;
		height       : 878rem;
		left         : 10rem;
		padding      : 0rem;
		top          : 98rem;
		overflow     : hidden;
		right        : 10rem;
		width        : initial;
	}

	.nav-menu__item {
		border  : none;
		height  : 100%;
		margin  : 0;
		position: relative;
	}

	.nav-menu__item a {
		margin: 0;
	}

	.catalog-list__item:first-of-type,
	.nav-menu__item_open-sublist,
	.nav-menu__phone,
	.nav-menu__socialnet {
		display: none;
	}

	.catalog-list {
		background-color: #FFF8FE;
		height          : 100%;
		overflow        : visible;
		padding         : 27rem 0 0 19rem;
		width           : 24.9%;
	}

	.catalog-list>li>a {
		font-weight: bold;
	}

	.catalog-list__item,
	.catalog-list__item_sublist {
		align-items  : center;
		display      : flex;
		min-height   : 50rem;
		padding-right: 40rem;
		width        : 100%;
	}

	.catalog-list__item_select,
	.catalog-list__item_show-all,
	.catalog-list__item_catalog-back {
		display: none;
	}

	.catalog-list__item a {
		border     : none;
		font-size  : 15rem;
		height     : auto;
		min-height : auto;
		line-height: 22rem;
		margin-left: 20rem;
	}

	.catalog-list__item:hover>a,
	.catalog-list__item_sublist:hover>a {
		color: #A0148E;
	}

	.catalog-list__tick {
		width: 37rem;
	}

	.catalog-list__tick>span {
		border-top  : 2.5rem solid #2D0027;
		border-right: 2.5rem solid #2D0027;
		height      : 12rem;
		opacity     : 0.13;
		width       : 12rem;
	}

	.catalog-list__item:hover>.catalog-list__tick>span,
	.catalog-list__item_sublist:hover>.catalog-list__tick>span {
		border-color: #A0148E;
		opacity     : 1;
	}

	.catalog-list__sublist {
		display   : block;
		height    : 100vw;
		left      : 107%;
		transform : translateX(-500%);
		transition: 0.4s ease-out;
		width     : 100%;
	}

	.catalog-list>.catalog-list__item>.catalog-list__sublist {
		border-right: 3px solid #FFF8FE;
		width       : 86.4%;
	}

	.catalog-list__sublist a {
		padding-left: 0rem;
	}

	/* ------------------------------ чекбоксы каталога -----------------------------*/

	/* --------------------------кнопки открытия списков---------------------------- */

	input[id^="catalog-list-checkbox-"]:checked~.header .catalog-list {
		height: 100% !important;
	}

	/* ----------------------списки второго уровня------------------------------ */

	#catalog-list-checkbox-guitar:checked~.header .catalog-list-checkbox-guitar {
		padding-top: 27rem;
		top        : -27rem;
		transform  : translateX(0%);
	}

	#catalog-list-checkbox-microphone:checked~.header .catalog-list-checkbox-microphone {
		padding-top: 27rem;
		top        : -178rem;
		transform  : translateX(0%);
	}

	#catalog-list-checkbox-accordion:checked~.header .catalog-list-checkbox-accordion {
		padding-top: 27rem;
		top        : -678rem;
		transform  : translateX(0%);
	}

	/* ---------------------списки третьего уровня-------------------------- */

	#catalog-list-checkbox-guitar-classic:checked~.header .catalog-list-checkbox-guitar-classic {
		top      : 0;
		transform: translateX(0%);
	}

	#catalog-list-checkbox-guitar-acoustic-bass:checked~.header .catalog-list-checkbox-guitar-acoustic-bass {
		top      : -101rem;
		transform: translateX(0%);
	}

	#catalog-list-checkbox-guitar:checked~.header .catalog-list-checkbox-guitar-select,
	#catalog-list-checkbox-guitar:checked~.header .catalog-list-checkbox-guitar-select>a,
	#catalog-list-checkbox-guitar:checked~.header .catalog-list-checkbox-guitar-select>.catalog-list__tick>span,
	#catalog-list-checkbox-microphone:checked~.header .catalog-list-checkbox-microphone-select,
	#catalog-list-checkbox-microphone:checked~.header .catalog-list-checkbox-microphone-select>a,
	#catalog-list-checkbox-microphone:checked~.header .catalog-list-checkbox-microphone-select>.catalog-list__tick>span,
	#catalog-list-checkbox-accordion:checked~.header .catalog-list-checkbox-accordion-select,
	#catalog-list-checkbox-accordion:checked~.header .catalog-list-checkbox-accordion-select>a,
	#catalog-list-checkbox-accordion:checked~.header .catalog-list-checkbox-accordion-select>.catalog-list__tick>span {
		background-color: #fff;
		color           : #a0148e;
		border-color    : #a0148e;
		opacity         : 1;
	}

	#catalog-list-checkbox-guitar-classic:checked~.header .catalog-list-checkbox-guitar-classic-select,
	#catalog-list-checkbox-guitar-classic:checked~.header .catalog-list-checkbox-guitar-classic-select>a,
	#catalog-list-checkbox-guitar-classic:checked~.header .catalog-list-checkbox-guitar-classic-select>.catalog-list__tick>span,
	#catalog-list-checkbox-guitar-acoustic-bass:checked~.header .catalog-list-checkbox-guitar-acoustic-bass-select,
	#catalog-list-checkbox-guitar-acoustic-bass:checked~.header .catalog-list-checkbox-guitar-acoustic-bass-select>a,
	#catalog-list-checkbox-guitar-acoustic-bass:checked~.header .catalog-list-checkbox-guitar-acoustic-bass-select>.catalog-list__tick>span {
		background-color: #FFF8FE;
		color           : #a0148e;
		border-color    : #a0148e;
		opacity         : 1;
	}

	.nav-menu__sidebar {
		display : block;
		position: absolute;
		top     : 40rem;
		right   : 72rem;
		width   : 20.2%;
	}

	.sidebar>.sidebar__product {
		border-radius: 3rem;
		display      : block;
		height       : 382rem;
		overflow     : hidden;
		position     : relative;
		width        : 100%;
	}

	.sidebar__product::before {
		background-image: linear-gradient(180deg, #160013 0%, rgba(22, 0, 19, 0) 88.95%);
		content         : "";
		display         : block;
		height          : 100%;
		opacity         : 0.8;
		pointer-events  : none;
		position        : absolute;
		top             : 0rem;
		width           : 100%;
	}

	.sidebar__product:hover::before {
		background: #D866C9;
		opacity   : 0.2;
	}

	.sidebar__photo {
		width     : 100%;
		height    : 100%;
		object-fit: cover;
	}

	.sidebar__about {
		color         : #fff;
		bottom        : 0;
		left          : 0;
		top           : 0;
		right         : 0;
		position      : absolute;
		pointer-events: none;
		text-align    : center;
	}

	.sidebar_title {
		color     : #fff;
		font-size : 20rem;
		margin    : 28rem auto 1rem;
		text-align: center;
	}

	.sidebar__model {
		font      : 30rem/35rem "Archive", sans-serif;
		margin-top: 15rem;
	}

	.sidebar__price {
		font  : bold 30rem/46rem "Titillium Web", sans-serif;
		margin: 164rem auto 0;
		width : 57%;
	}

	.sidebar__price_new {
		background-color: #fff;
		border-radius   : 2px;
		color           : #A0148E;
	}

	.sidebar__brand {
		display        : flex;
		flex-direction : column;
		height         : 385rem;
		justify-content: space-between;
		margin-top     : 19rem;
	}

	.sidebar__brand .sidebar__brand-label {
		border     : none;
		flex       : 1 0 auto;
		line-height: unset;
	}

	.sidebar__brand .sidebar__brand-label:hover {
		opacity: 0.5;
	}

	.sidebar__brand-label>img {
		width     : 100%;
		height    : 100%;
		object-fit: scale-down;
	}

	.logo {
		height     : 44rem;
		margin-left: 0;
		width      : 100%;
	}

	#nav-menu-checkbox:checked~.header .navbar__catalog-caption {
		color: #A0148E;
	}

	.nav-menu__checkbox_desktop {
		align-items     : center;
		background      : url(../img/icon/catalog-icon.svg) 17% center no-repeat;
		background-color: #A0148E;
		border-radius   : 3rem;
		display         : flex;
		height          : 45rem;
		justify-content : center;
		margin-left     : 0.9%;
		width           : 11.5%;
	}

	.nav-menu__checkbox_desktop:hover {
		background-color: #D866C9;
	}

	.navbar__catalog-caption {
		color      : #fff;
		display    : block;
		font-size  : 15rem;
		font-weight: bold;
		margin-left: 18%;
	}

	.form-search {
		height: 45rem;
		width : 30%;
	}

	.form-search>input:hover {
		background-color: #FFEFFD;
		cursor          : pointer;
	}

	.form-search_margin {
		margin: 0;
	}

	.form-search>input::placeholder {
		font-size  : 15rem;
		line-height: 39rem;
	}

	.navbar__item_feedback {
		background-image: none;
		flex            : 0 0 auto;
		height          : fit-content;
		max-width       : unset;
	}

	.phone_navbar {
		font-size: 24rem;
		opacity  : 1;
	}

	.navbar__caption {
		line-height  : 9rem;
		margin-bottom: 15rem;
	}

	.profile {
		border-top-left-radius : 4rem;
		border-top-right-radius: 4rem;
		position               : relative;
		width                  : 13%;
	}

	#profile-checkbox:checked~.header .profile__list {
		transform: translateY(4%);
	}

	.profile__list {
		left          : unset;
		padding-bottom: 11rem;
		right         : -100%;
		width         : 241rem;
	}

	.profile__item a {
		font-size: 15rem;
		height   : 38rem;
		margin   : 0 24rem;
	}

	/* ------------------------ main --------------------------------- */

	.main {
		padding: 0 10rem;
	}

	.special-offers {
		height    : 411rem;
		margin    : 0 0 63rem;
		text-align: left;
	}

	.special-offers__item:hover::before {
		background: #D866C9;
		opacity   : 0.2;
	}

	.nav-arrow {
		height: 45rem;
		width : 46rem;
	}

	.nav-arrow>span {
		height: 17rem;
		width : 17rem;
	}

	.special-offers__arrow_prev,
	.special-offers__arrow_next {
		top: 183rem;
	}

	.special-offers__nav-dots {
		bottom: 33rem;
	}

	.nav-dots__item {
		height: 10rem;
		margin: 0 7rem;
		width : 10rem;
	}

	.special-offers_title {
		font-size: 30rem;
		margin   : 69rem 113rem 0;
	}

	.special-offers__model {
		font-size  : 60rem;
		line-height: 72rem;
		margin     : 17rem 0 0 113rem;
	}

	.special-offers__price {
		font-size  : 31rem;
		height     : 45rem;
		margin     : 31rem 9.7% 0;
		line-height: 43rem;
		width      : auto;
	}

	.special-offers__price_new,
	.special-offers__price_old {
		display: inline-block;
		height : 100%;
	}

	.special-offers__price_new {
		margin-right: 10rem;
		padding     : 0 11rem;
	}

	.special-offers__price_old {
		font: inherit;
	}

	.popular-categories {
		margin: 35rem 0 30rem;
	}

	.popular-categories::after {
		display: none;
	}

	#popular-categories .owl-dots {
		margin-top: 25rem;
	}

	#popular-categories .owl-dot>span,
	#popular-products .owl-dot>span,
	#types-instrument .owl-dot>span {
		height: 10rem;
		width : 10rem;
	}

	#popular-categories .owl-prev,
	#popular-categories .owl-next,
	#popular-products .owl-prev,
	#popular-products .owl-next,
	#types-instrument .owl-prev,
	#types-instrument .owl-next {
		height: 44rem;
		width : 49rem;
	}

	#popular-categories .owl-prev>span,
	#popular-categories .owl-next>span,
	#popular-products .owl-prev>span,
	#popular-products .owl-next>span,
	#types-instrument .owl-prev>span,
	#types-instrument .owl-next>span {
		height: 15rem;
		width : 15rem;
	}

	.popular-categories_wrapper::after {
		display: none;
	}

	.popular-categories__item:before {
		background: linear-gradient(180.17deg, rgba(82, 0, 71, 0) 39.47%, #520047 67.19%);
		bottom    : -8%;
		content   : "";
		display   : block;
		height    : 100%;
		opacity   : 0.3;
		position  : absolute;
		width     : 100%;
	}

	.popular-categories__item:hover:before {
		opacity: 0.5;
	}

	.popular-categories__item:hover .popular-categories__subtitle {
		color: #FFCBF8;
	}

	.popular-categories__img {
		height: 212rem;
	}

	.popular-categories__subtitle {
		bottom   : 31rem;
		color    : #fff;
		font-size: 23rem;
		left     : 0;
		margin   : 0;
		position : absolute;
		right    : 0;
	}

	.popular-products-wrapper {
		margin : 34rem 0 66rem;
		padding: 0 0 37rem;
	}

	#popular-products .owl-dots {
		margin-top: 28rem;
	}

	#popular-products .owl-prev,
	#popular-products .owl-next {
		top: 176rem;
	}

	.popular-products {
		display              : grid;
		gap                  : 2.1%;
		grid-template-columns: repeat(4, 1fr);
		height               : 422rem;
	}

	.popular-products__item {
		height: 422rem;
	}

	.popular-products__like {
		top  : 9rem;
		right: 47rem;
	}

	.popular-products__compare {
		top  : 9rem;
		right: 13rem
	}

	.popular-products__like:hover,
	.popular-products__compare:hover {
		opacity: 1;
	}

	.popular-products__photo {
		height : 228rem;
		padding: 0 30rem 20rem;
	}

	.popular-products__photo:hover img {
		transform: scale(1.1);
	}

	.popular-products__name {
		font-size: 15rem;
		padding  : 0rem 21rem 5rem;
	}

	.popular-products__name:hover {
		color: #D866C9;
	}

	.popular-products__block-get {
		align-items     : flex-start;
		background-color: transparent;
		height          : 72rem;
		justify-content : center;
	}

	.popular-products__cost {
		background   : #FFF8FE;
		border-radius: 2px;
		flex-grow    : 0;
		height       : 43%;
		width        : 32%;
	}

	.popular-products__button-cart {
		border       : 3px solid #F7ECF5;
		border-radius: 2px;
		box-sizing   : border-box;
		height       : 62%;
		width        : 15.5%;
		margin-left  : 4%
	}

	.popular-products__button-cart:hover {
		background-color: #FFE3FB;
		opacity         : 0.8;
	}

	.types-instrument-wrapper {
		position: relative;
	}

	.types-instrument {
		height         : auto;
		justify-content: space-between;
		margin-bottom  : 57rem;
		overflow       : hidden;
	}

	.types-instrument::after {
		display: none;
	}

	#types-instrument .owl-stage-outer {
		height: 300rem;
	}

	#types-instrument .owl-prev,
	#types-instrument .owl-next {
		top: 80rem;
	}

	#types-instrument .owl-prev {
		left: -7rem;
	}

	.types-instrument__button-down {
		align-items     : center;
		background-color: transparent;
		bottom          : 45rem;
		display         : flex;
		height          : 40rem;
		justify-content : center;
		position        : absolute;
		width           : 100%;
		z-index         : 2;
	}

	.types-instrument__button-down>span {
		border-top : 2.5px solid #A0148E;
		border-left: 2.5px solid #A0148E;
		display    : block;
		height     : 16rem;
		transform  : rotate(-135deg);
		transition : 0.4s ease-out;
		width      : 16rem;
		z-index    : 1;
	}

	.types-instrument__button-down:hover>span {
		border-color: #D866C9;
	}

	.types-instrument__button-down::after {
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 69.27%);
		content         : "";
		display         : block;
		height          : 140rem;
		pointer-events  : none;
		position        : absolute;
		top             : -76rem;
		width           : 100%;
	}

	.types-instrument__button-down:hover::after {
		background: linear-gradient(180deg, rgba(255, 249, 254, 0) 0%, #FFF9FE 69.27%);
	}

	.types-instrument__button-down:hover+.types-instrument:hover::after {
		background-image: linear-gradient(180deg, rgba(255, 249, 254, 0) 0%, #FFF9FE 69.27%);
	}

	#types-instrument__button-down-checkbox:checked~.main-content-layer .types-instrument__button-down::after {
		display: none;
	}

	#types-instrument__button-down-checkbox:checked~.main-content-layer .types-instrument__button-down>span {
		transform: rotate(-135deg) scale(-1);
	}

	#types-instrument__button-down-checkbox:checked~.main-content-layer #types-instrument .owl-stage-outer {
		height: auto;
	}

	#types-instrument .owl-dots {
		margin-top: 62rem;
	}

	#types-instrument .owl-next {
		right: -7rem;
	}

	.types-instrument__type-name {
		height             : 157rem;
		justify-content    : center;
		background-size    : 67rem 66rem;
		background-position: center 33rem;
	}

	.types-instrument__type-name_synthesizer {
		background-size    : 61rem 45rem;
		background-position: center 47rem;
	}

	.types-instrument__type-name_drum {
		background-size    : 43rem 60rem;
		background-position: center 39rem;
	}

	.types-instrument__type-name_brass {
		background-size: 50rem 66rem
	}

	.types-instrument__type-name_accordion {
		background-size    : 65rem 54rem;
		background-position: center 44rem;
	}

	.types-instrument_subtitle {
		font-size: 22rem;
	}

	.types-instrument_subtitle:hover {
		color: #A0148E;
	}

	.types-instrument__sublist {
		display   : block;
		margin-top: 11rem;
	}

	.types-instrument__sublist a {
		color      : #2D0027;
		font-size  : 15rem;
		line-height: 33rem;
		opacity    : 0.5;
	}

	.types-instrument__sublist li:hover>a {
		color  : #A0148E;
		opacity: 1;
	}

	.premium-offers {
		display              : grid;
		font-size            : 30rem;
		gap                  : 2.3%;
		grid-template-columns: auto 48.7% auto;
		height               : 422rem;
		line-height          : 35rem;
		margin               : 0 0 64rem;
	}

	.premium-offers__item:hover::before {
		background: #D866C9;
		opacity   : 0.2;
	}

	.premium-offers__arrow_prev,
	.premium-offers__arrow_next,
	.premium-offers__nav-dots {
		display: none;
	}

	.premium-offers__item_center {
		font-size: 60rem;
	}

	.premium-offers__title {
		font-size : 20rem;
		margin    : 40rem 0 12rem;
		text-align: center;
	}

	.premium-offers__title_center {
		font-size: 30rem;
		margin   : 44rem 0 27rem;
	}

	.premium-offers__price {
		bottom     : 51rem;
		font-size  : 30rem;
		left       : 0;
		line-height: 45rem;
		margin     : 0 auto;
		position   : absolute;
		right      : 0;
		width      : 140rem;
	}


	.popular-brand {
		gap                  : 1.2% 1%;
		grid-template-columns: repeat(5, 1fr);
		grid-auto-rows       : minmax(50rem, 70rem);
		margin               : 0 0 115rem;
	}

	.popular-brand__category-name {
		color                : #2D0027;
		display              : grid;
		font                 : bold 15rem/23rem "Titillium Web", sans-serif;
		grid-column          : 1/-1;
		grid-template-columns: repeat(5, 1fr);
		text-align           : center;
	}

	.popular-brand_subtitle {
		align-items    : center;
		display        : flex;
		justify-content: center;
	}

	.popular-brand__item {
		cursor : pointer;
		display: block !important;
	}

	.popular-brand__item:hover {
		opacity: 0.5;
	}

	.footer {
		padding   : 50rem 14.1% 50rem 8.2%;
		text-align: left;
	}

	.footer_top {
		display        : flex;
		justify-content: space-between;
		margin-bottom  : 65rem;
	}

	.footer-menu__tick {
		display: none;
	}

	.footer-menu__submenu,
	.apps__title {
		display: block;
	}

	.footer-menu__submenu>li {
		max-width: 260rem;
	}

	.footer-menu {
		border         : none;
		display        : flex;
		justify-content: space-between;
		width          : 86%;
	}

	.footer-menu__item {
		border : none;
		flex   : 1 1 auto;
		padding: 0 20rem 0 0;
	}

	.footer-menu__title,
	.apps__title {
		font-size    : 23rem;
		font-weight  : bold;
		line-height  : 23rem;
		margin-bottom: 18rem;
	}

	.footer-menu__submenu li:hover>.footer-menu__item_sublist {
		color  : #D866C9;
		opacity: 1;
	}

	.footer-menu__item_sublist {
		font-size  : 15rem;
		line-height: 33rem;
	}

	.apps {
		flex      : 1 1 auto;
		margin    : 0;
		text-align: left;
	}

	.apps__item {
		border-radius: 6rem;
		display      : block;
		height       : 43rem;
		opacity      : 0.7;
		width        : 129rem;
	}

	.apps__item:hover {
		opacity: 1;
	}

	.apps__item_g-play {
		margin: 31rem 0 11rem;
	}

	.footer_bottom {
		align-items    : center;
		display        : flex;
		flex-direction : row-reverse;
		justify-content: space-between;
	}

	.copyright {
		font-size  : 15rem;
		line-height: 15rem;
	}

	.footer__socialnet {
		margin: 0 0 0 29.6%;
	}

	.footer__socialnet .socialnet__item {
		height: 25rem;
	}

	.footer__phone {
		font-size: 21rem;
	}
}